.maGhe {
  display: inline-block;
  width: 6%;
}

.tenGhe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: none;
  margin-bottom: 5px;
  border-radius: 20px;
}

.tenGhe:hover {
  background-color: white;
  transition: all 0.5s;
}
