@import "../SpinnerLoading/connect";

.dataInfor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setButtonTicket {
    color: #fff;
    width: 100%;
    font-size: 25px;
    margin-top: 25px;
    background-color: #fb4226;
    height: 55px;
    border: none;
    border-radius: 20px;
}

.seatBill__pay {
    h1 {
        @include responsive_laptop--mini {
            font-size: 2rem;
            margin-top: -15px !important;
        }

        @include responsive_mobile {
            font-size: 1.4rem;
            margin-top: -15px !important;
        }
    }
}

.seatBill__info {
    .dataInfor {
        h6 {
            @include responsive_laptop--mini {
                font-size: 1.2rem;
                margin-top: -15px !important;
            }

            @include responsive_mobile {
                font-size: 1rem;
                margin-top: -15px !important;
            }
        }
    }
}

.seatBill__selectSeat {
    .seatBill__selectSeat__box {
        display: flex;
        flex-wrap: wrap;

        .selectSeat__item {
            @include responsive_laptop--medium {
                font-size: 1.2rem !important;
            }

            @include responsive_laptop--mini {
                font-size: 1.1rem;
            }

            @include responsive_mobile {
                font-size: 1rem;
            }
        }
    }
}