.movieFrame{
    width: 80%;
    margin: 0 auto;
    height: 400px;
}
.movieButton{
    color: white;
    background-color: #fb4226;
    border: none;
    height: 40px;
    width: 100px;
    text-align: center;
    border-radius: 20%;
}