
  @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
// Import the required packages from React Icons
// Navbar styles
.navbar {
  background:linear-gradient(to right,#14a1c8,#300da3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
  .navbar-brand {
    font-family: 'Bruno Ace', cursive;
    font-weight: 700;
    font-size: 1.5rem;
    color: #212529;
  }
  .navbar-nav {
    &.mr-auto {
      margin-right: auto;
    }

    li {
      &.nav-item {
        a {
          font-weight: 700;
          font-size: 13px;
          color: #212529;
          display: flex;
          align-items: center;
          text-decoration: none;
          transition: all 0.3s ease;

          &:hover {
            color: #fff;
          }

          svg {
            margin-right: 0.5rem;
          }
          &.active{
            color: #fff;
          }
        }
      }
    }
  }

  .navbar-toggler {
    border: none;
    background-color: transparent;
  }

  .navbar-toggler-icon {
    background-color: #212529;
    height: 2px;
    width: 18px;
    display: block;
    margin: auto;
    transition: all 0.2s ease;

    &::before,
    &::after {
      content: '';
      display: block;
      background-color: currentColor;
      height: 2px;
      width: 18px;
      position: absolute;
      left: 0;
      transition: all 0.2s ease;
    }

    &::before {
      transform: translateY(-6px);
    }

    &::after {
      transform: translateY(6px);
    }
  }

  .navbar-toggler:not(.collapsed) {
    .navbar-toggler-icon {
      transform: rotate(90deg);

      &::before {
        transform: translateY(0) rotate(45deg);
      }

      &::after {
        transform: translateY(0) rotate(-45deg);
      }
    }
  }
}

