@import "../../SpinnerLoading/connect";

.tabBookMovie {
  background-color: rgb(10, 32, 41);

  // @include responsive_mobile {
  //   width: 512px;
  // }

  .container {
    @include responsive_laptop--mini {
      margin-top: 20px;
    }

    .MuiBox-root {
      @include responsive_mobile {
        width: 100%;
      }

      .MuiPaper-root {
        // @include responsive_mobile {
        //   margin-top: 20px;
        // }

        background-color: rgb(10, 32, 41);
      }
    }

    #movieTheater {
      .movieTheater__row {
        @include responsive_laptop--mini {
          display: block;
        }

        .row__left {
          @include responsive_laptop--mini {
            width: 100%;
          }

          button {
            @include responsive_laptop--mini {
              margin-left: 130px;
            }

            .MuiTab-iconWrapper {
              width: 80px;
              height: 80px;
            }
          }
        }

        .tab-content {
          .tab-pane {
            .theater__content {
              .list__theater {
                .list__item {
                  border-bottom: 1px solid $color-gray-1;
                  list-style: none;
                  padding: spacing(2) spacing(0.5);

                  &:last-child {
                    border-bottom: none;
                  }

                  .theater__link {
                    text-decoration: none;

                    .row {
                      .theater__img {
                        max-width: 12%;
                        padding-right: 0;
                        padding-left: spacing(2);

                        img {
                          width: 100%;
                        }
                      }

                      .theater__title {
                        .theater__name {
                          @include Text($fs-0, $fw-medium);
                          display: block;

                          &.cgv-color {
                            color: $color-red-0;
                          }

                          &.bhd-color {
                            color: $color-green-1;
                          }

                          &.glx-color {
                            color: $color-orange;
                          }

                          &.lotte-color {
                            color: $color-red-1;
                          }

                          .theater__subname {
                            color: $color-black-1;
                          }
                        }

                        .theater__address {
                          @include Text($fs-1, $fw-regular);
                          color: $color-gray-2;

                          .theater__map {
                            color: $color-red-0;
                          }
                        }
                      }
                    }
                  }

                  .collapse {
                    .collapse__content {
                      .film__timeshow {
                        ul {
                          .timeshow__item {
                            margin: 10px;
                            background-color: rgba(24, 201, 24, 0.606);
                            border-radius: 15px;

                            .timeshow__link {
                              text-decoration: none;

                              .time__begin {
                                margin: 1rem 5px 0 5px;
                                text-align: center;
                                color: white;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }

            }
          }
        }
      }
    }
  }
}